.movieCart {
    margin-bottom: 30px;
}

.movieCart h2 {
    margin: 0px 0px 0px 30px;
}

.movieCartList {
    overflow-x: hidden;
}

.movieCartSubList {
    width: 10000000px;
}

.movieCartItem {
    display: inline-block;
    width: 150px;
}

.movieCartItem img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
    cursor: pointer;
}

.movieCartItem img:hover {
    transform: scale(1);
}

.arrowLeft, .arrowRight {
    position: absolute;
    width: 40px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 50px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden ;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.arrowLeft {
    left: 0;
}

.arrowRight {
    right: 0;
}

.movieCart:hover .arrowLeft,
.movieCart:hover .arrowRight {
    opacity: 1;
}