.main {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.transparencyVertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.transparencyHorizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0px 150px 30px;
    
}

.MovieName {
    font-size: 60px;
    font-weight: bold;
}

.info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px
}

.points {
    color: #46d369
}

.year, .seasons, .points {
    display: inline-block;
    margin-right: 15px;
}

.description {
    margin-top: 15px;
    font-size: 20px;
    color: #999;   
    max-width: 40%;    
}

.buttons {
    margin-top: 15px;
}

.watchButton, .listButton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2;
}

.watchButton:hover, .listButton:hover {
    opacity: 0.7;
} 


.watchButton {
    background-color: #FFF;
    color: #000;
    
}

.watchButton span {
    padding-right: 5px;
    
}

.listButton {
    background-color: #333;
    color: #FFF;
}

.genres {
    font-size: 18px;
    margin-top: 15px;
    color: #999;
}