header {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.header {
    height: 25px;
}

.header img{
    height: 100%;
    padding-left: 30px;
}